name: Rust

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CARGO_TERM_COLOR: always

    steps:
      - uses: actions/checkout@v3

      - uses: extractions/setup-just@v1

      - run: |
          rustup set auto-self-update disable
          rustup toolchain install stable --profile minimal

      - uses: taiki-e/install-action@nextest

      - uses: Swatinem/rust-cache@v2

      - name: Build and test
        run: just build test

      - name: Lint
        run: just lint
